<a href="https://colab.research.google.com/github/Dasika-Vaishnavi/astropy.github.com/blob/main/Python_regex_explorative_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python has a built-in package called re, which can be used to work with Regular Expressions.

Import the re module:

In [8]:
import re

When you have imported the re module, you can start using regular expressions:

In [9]:
import re

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

# RegEx Functions

The findall() Function

In [10]:
txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

The search() Function

In [11]:
txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

The split() Function

In [12]:
#Split at each white-space character:
txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [13]:
#Split the string only at the first occurrence:
txt = "The rain in Spain"
x = re.split("\s", txt, 1)
print(x)

['The', 'rain in Spain']

The sub() Function

In [14]:
#Replace every white-space character with the number 9:

txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

In [15]:
#Replace the first 2 occurrences:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 2)
print(x)

The9rain9in Spain

# Match Object
A Match Object is an object containing information about the search and the result.

In [17]:
txt = "The rain in Spain"
x = re.search("ai", txt)
print(x) #this will print an object

<re.Match object; span=(5, 7), match='ai'>

The Match object has properties and methods used to retrieve information about the search, and the result.If there is no match, the value None will be returned, instead of the Match Object.

###span() returns a tuple containing the start-, and end positions of the match.
###string returns the string passed into the function
###group() returns the part of the string where there was a match

In [18]:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())
print(x.string)
print(x.group())

(12, 17)
The rain in Spain
Spain